.portfolio-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
}

.portfolio-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 50px;
}

.portfolio-card:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.portfolio-header {
    margin-bottom: 20px;
}

.portfolio-header h2 {
    color: #bb86fc;
    font-size: 24px;
    margin-bottom: 10px;
}

.portfolio-header p {
    color: #aaa;
    font-size: 16px;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.portfolio-images img {
    width: calc(50% - 10px); /* 50% da largura em telas maiores */
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.portfolio-images img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .portfolio-images img {
        width: 100%; /* 100% da largura em telas menores */
    }
}



