.textContentInitial{
    font-size: 22px;
    color: #bb86fc;
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.textLeft{
    text-align: left;
}
.mt-50{
    margin-top: 50px !important;
}